<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>ABC PLANT SHOP - PRODUCT-DETAIL</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- header -->
  <header th:replace="~{/site/fragments/header :: header}"></header>
  
 
  <!-- Content -->
  <div id="content"> 
    
    <!-- Popular Products -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- SHOP DETAIL -->
        <div class="shop-detail">
          <div class="row"> 
            
            <!-- Popular Images Slider -->
            <div class="col-md-7"> 
              
              <!-- Images Slider -->
              <div class="images-slider">
                <ul class="slides" style="width: 100%; padding-left: 13%">
                  <li th:data-thumb="@{'/loadImage?imageName='+${product.image}}"> <img class="img-responsive" th:src="@{'/loadImage?imageName='+${product.image}}"  alt=""> </li>
                  <li th:data-thumb="@{'/loadImage?imageName='+${product.image}}"> <img class="img-responsive" th:src="@{'/loadImage?imageName='+${product.image}}"  alt=""> </li>
                  <li th:data-thumb="@{'/loadImage?imageName='+${product.image}}"> <img class="img-responsive" th:src="@{'/loadImage?imageName='+${product.image}}"  alt=""> </li>
                </ul>
              </div>
            </div>
            
            <!-- COntent -->
            <div class="col-md-5">
              <h4>[[${product.name}]]</h4>
              <span class="price"><small>$</small>[[${#numbers.formatDecimal(product.price - (product.price * product.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}]]</span> 
              
              <!-- Sale Tags -->
              <div class="on-sale"> [[${#numbers.formatDecimal(product.discount, 1, 'DEFAULT', 0, 'DEFAULT')} + '%']] <span>OFF</span> </div>
              <ul class="item-owner">
                <li>Category :<span style="color:green"> [[${product.category.categoryName}]]</span></li>
                
              </ul>
              
              <!-- Item Detail -->
              <p>[[${product.description}]]</p>
              
              <!-- Short By -->
              <div class="some-info">
                <ul class="row margin-top-30">
                  
                  <!-- ADD TO CART -->
                  <li class="col-xs-6"> <a th:href="@{/addToCart(productId=${product.productId})}" class="btn">ADD TO CART</a> </li>
                  
                  <!-- LIKE -->
                  <li class="col-xs-6"> <a href="#." class="like-us"><i class="icon-heart" style="color:red"></i></a> </li>
                </ul>
                
                <!-- INFOMATION -->
                <div class="inner-info">
                  <h6>SHARE THIS PRODUCT</h6>
                  
                  <!-- Social Icons -->
                  <ul class="social_icons">
                    <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                    <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                    <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= PRODUCT DESCRIPTION =========-->
        <div class="item-decribe"> 
          <!-- Nav tabs -->
          <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
            <li role="presentation" class="active"><a href="#descr" role="tab" data-toggle="tab">DESCRIPTION</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content animate fadeInUp" data-wow-delay="0.4s"> 
            <!-- DESCRIPTION -->
            <div role="tabpanel" class="tab-pane fade in active" id="descr">
              <p>[[${product.description}]]. <br>
              </p>
            </div>
            <!-- TAGS -->
            <div role="tabpanel" class="tab-pane fade" id="tags"> </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Popular Products -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>YOU MAY LIKE IT</h4>
          <br>
          
        <!-- Popular Item Slide -->
        <div class="papular-block block-slide"> 
          
          <!-- Item -->
          <div class="item" th:each="item : ${productByCategory}"> 
            <!-- Sale Tags -->
										<div class="on-sale"> [[${#numbers.formatDecimal(item.discount, 1, 'DEFAULT', 0,
											'DEFAULT')} + '%']] <span>OFF</span></div>

            <!-- Item img -->
            <div class="item-img">
	            <img class="img-1" th:src="@{'/loadImage?imageName='+${item.image}}" height=300px width=300px >
	            <img class="img-2" th:src="@{'/loadImage?imageName='+${item.image}}" height=300px width=300px > 
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn">
                  <a th:href="@{'/loadImage?imageName='+${item.image}}" data-lighter data-toggle="tooltip" data-placement="top" title="Detail">
                  	<i class="icon-magnifier"></i>
                  </a>
                  <a href="#." data-toggle="tooltip" data-placement="top" title="Add To Cart">
                  	<i class="icon-basket"></i>
                  </a>
                  <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList">
                  	<i class="icon-heart"></i>
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a th:href="@{/productDetail(id=${item.productId})}">[[${item.name}]]</a>
            </div>
            <!-- Price --> 
            <span class="price"><small>$</small>[[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}]]</span>
          </div>
        </div>
      </div>
    </section>
    
    
  <!--======= FOOTER =========-->
  <footer th:replace="~{/site/fragments/footer :: footer}"></footer>
  
  <!--======= RIGHTS =========--> 
  
</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/jquery.lighter.js"></script> 
<script src="js/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script> 
<script src="js/main.js"></script>
</body>
</html>