<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="M_Adnan">
	<title>ABC PLANT SHOP - SHOPPINGCART</title>

	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/ionicons.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

	<!-- JavaScripts -->
	<script src="js/modernizr.js"></script>

	<!-- Online Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

</head>

<body>

	<!-- LOADER -->
	<div id="loader">
		<div class="position-center-center">
			<div class="ldr"></div>
		</div>
	</div>

	<!-- Wrap -->
	<div id="wrap">

		<!-- header -->
		<header th:replace="~{/site/fragments/header :: header}"></header>


		<!-- Content -->
		<div id="content">

			<!--======= PAGES INNER =========-->
			<section class="padding-top-100 padding-bottom-100 pages-in chart-page">
				<div class="container">
					<h3 style="color:darkgreen">Your Shopping Cart</h2>
						<br>
						<br>

						<!-- Payments Steps -->
						<div class="shopping-cart text-center">
							<div class="cart-head">
								<ul class="row">
									<!-- # -->
									<!-- <li class="col-sm-2 text-left">
                <h6>#</h6>
              </li> -->
									<!-- PRODUCTS -->
									<li class="col-sm-2 text-left">
										<h6>PRODUCTS</h6>
									</li>
									<!-- NAME -->
									<li class="col-sm-4 text-left">
										<h6>NAME</h6>
									</li>
									<!-- PRICE -->
									<li class="col-sm-2">
										<h6>PRICE</h6>
									</li>
									<!-- QTY -->
									<li class="col-sm-1">
										<h6>QTY</h6>
									</li>

									<!-- TOTAL PRICE -->
									<li class="col-sm-2">
										<h6>TOTAL</h6>
									</li>
									<li class="col-sm-1"> </li>
								</ul>
							</div>

							<!-- Cart Details -->
							<ul class="row cart-details" th:each="item : ${cartItems}">
								<li class="col-sm-6">
									<div class="media">
										<!-- Media Image -->
										<div class="media-left media-middle">
											<a href="#." class="item-img">
												<img class="media-object"
													th:src="@{'/loadImage?imageName='+${item.product.image}}" alt="">
											</a>
										</div>

										<!-- Item Name -->
										<div class="media-body">
											<div class="position-center-center">
												<h5>[[${item.product.name}]]</h5>

											</div>
										</div>
									</div>
								</li>

								<!-- PRICE -->
								<li class="col-sm-2">
									<div class="position-center-center">
										<span class="price">
											<small>$</small>[[${#numbers.formatDecimal(item.product.price -
											(item.product.price * item.product.discount/100), 1, 'DEFAULT', 0,
											'DEFAULT')}]]
										</span>
									</div>
								</li>

								<!-- QTY -->
								<li class="col-sm-1">
									<div class="position-center-center">

										<!-- QTY -->


										<form>
											<a th:href="@{/decrease(productId=${item.productId})}">
												<div class="value-button" id="decrease" onclick="decreaseValue(); "
													value="Decrease Value"> -</div>
											</a>
											<input type="number" id="number" value="0" min="1"
												th:value="${item.quantity}" />
											<a th:href="@{/increase(productId=${item.productId})}">
												<div class="value-button" id="increase" onclick="increaseValue()"
													value="Increase Value">+</div>
											</a>
										</form>
									</div>
								</li>

								<!-- TOTAL PRICE -->
								<li class="col-sm-2">
									<div class="position-center-center">
										<span class="price">
											<small>$</small>[[${#numbers.formatDecimal((item.product.price -
											(item.product.price * item.product.discount/100)) * item.quantity, 1,
											'DEFAULT', 0, 'DEFAULT')}]]
										</span>
									</div>
								</li>

								<!-- REMOVE -->
								<li class="col-sm-1">
									<div class="position-center-center">
										<a th:href="@{/remove(id=${item.productId})}">
											<i class="icon-close"></i>
										</a>
									</div>
								</li>
							</ul>
						</div>
				</div>
			</section>

			<!--======= PAGES INNER =========-->
			<section class="padding-top-100 padding-bottom-100 light-gray-bg shopping-cart small-cart">
				<div class="container">

					<!-- SHOPPING INFORMATION -->
					<div class="cart-ship-info margin-top-0">
						<div class="row">

							<!-- DISCOUNT CODE -->
							<div class="col-sm-7">
								<h6>DISCOUNT CODE</h6>
								<form>
									<input type="text" value="" placeholder="ENTER YOUR CODE IF YOU HAVE ONE">
									<button type="submit" class="btn btn-small btn-dark">APPLY CODE</button>
								</form>
								<div class="coupn-btn">
									<a th:href="@{/}" class="btn">continue shopping</a>
									<a th:href="@{/checkOut}" class="btn">check out</a>
								</div>
							</div>

							<!-- SUB TOTAL -->
							<div class="col-sm-5">
								<h6>grand total</h6>
								<div class="grand-total">
									<div class="order-detail" th:each="item : ${cartItems}">
										<p>[[${item.product.name}]]
											<span>
												<small>$</small>[[${#numbers.formatDecimal((item.product.price -
												(item.product.price * item.product.discount/100)) * item.quantity, 1,
												'DEFAULT', 0, 'DEFAULT')}]]
											</span>
										</p>
									</div>
									<!-- SUB TOTAL -->
									<p class="all-total" style="color: black;">TOTAL COST
										<span>[['$'+${#numbers.formatDecimal(totalPrice, 1, 'DEFAULT', 0, 'DEFAULT')}]]
										</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>



			<!--======= FOOTER =========-->
			<footer th:replace="~{/site/fragments/footer :: footer}"></footer>

			<!--======= RIGHTS =========-->

		</div>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/own-menu.js"></script>
		<script src="js/jquery.lighter.js"></script>
		<script src="js/owl.carousel.min.js"></script>

		<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
		<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script>
		<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/main.js"></script>

		<script>
			function increaseValue() {
				var value = parseInt(document.getElementById('number').value, 10);
				value = isNaN(value) ? 0 : value;
				value++;
				document.getElementById('number').value = value;
			}

			function decreaseValue() {
				var value = parseInt(document.getElementById('number').value, 10);
				value = isNaN(value) ? 0 : value;
				value < 1 ? value = 1 : '';
				value--;
				document.getElementById('number').value = value;
			}
		</script>
</body>

</html>