<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<th:block th:fragment="footer">
        <hr>
		<session  class="small-about padding-top-150 padding-bottom-150">
			<div class="container" >

				<!-- Main Heading -->
				<div class="heading text-center">
			     	<br>
					<h4>about ABC PLANT SHOP</h4>
					<p>ABC Plant Shop is your one-stop shop for all plant related goodness.
						It’s a place to learn how to become the best possible plant parent and connect with other plant
						lovers </p>

					<br>
					<br>
					<p><i class="icon-pointer"></i> 421 Tran Hung Dao, Danang <br>
						Vietnam</p>
					<p><i class="icon-call-end"></i> 123.456.789</p>
					<p><i class="icon-envelope"></i> contact@abcplant.com</p>

				</div>

				<!-- Social Icons -->
				<ul class="social_icons">
					<li><a href="#."><i class="icon-social-facebook"></i></a></li>
					<li><a href="#."><i class="icon-social-twitter"></i></a></li>
					<li><a href="#."><i class="icon-social-tumblr"></i></a></li>
					<li><a href="#."><i class="icon-social-youtube"></i></a></li>
					<li><a href="#."><i class="icon-social-dribbble"></i></a></li>
				</ul>
			</div>
		</session>

	</th:block>
</body>

</html>